<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aplicacionbasica.app.andrevera.com.aplicacionbasica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <!--
        EN EL THEME LE PONEMOS APPCOMPAT.NOACTIONBAR PARA QUE NO MUESTRE LA BARRA SUPERIOR CON EL TITULO
        AQUÍ CAMBIAMOS EL INTENT FILTER Y LO PASAMOS AL SPLASHSCREEN PARA QUE LA ACTIVIDAD QUE
        ARRANQUE INICIALMENTE SEA LA DEL SPLASH
    -->
</manifest>